{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}
{% block title %}Login
{% endblock%}


{% load static %}


{% block content %}

<div class="container" style="height:100vh;width:100vw" >
    <div class=" container" style="margin:auto;padding-top:1.5rem;padding-bottom:100px;margin:auto;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center">



    <div class="col-xs-12 col-sm-8 col-md-4" style="margin:auto;display:flex;flex-direction:column;align-items:center;justify-content:center">
         <div class="row my-3 text-center">


                <p >Please log in.
                    or <a href="{% url 'create_account' %}" style="color:white">Register here</a></p>

</div>
<div class="col-md-8 col-xm-10" style="margin:auto">
        <form id="my-form" class="my-form" action="{% url 'accounts:person_login'%}" method="post">
            {% csrf_token %}

                    {% if messages %}
            {% for message in messages %}



            {% if message.tags == 'error' %}


    <div class="field text-center">

          <div class="my-2 control text-center text-red is-invalid" id="abigail">{{message }}</div>

    </div>


 {% endif %}
{% endfor %}
 {% endif %}

                    <div class="text-center my-2  input-container control">{{ form.email }}   </div>

                    <div class=" text-center my-2 input-container control">{{ form.password }}</div>


                <button class="btn form-control my-2 btn-primary" name="login" type="submit">Login</button>


        </form>
</div>

    </div>

</div>
</div>
{% endblock %}


