{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock%}


{% load static %}


{% block content %}
{% include 'navbar.html' %}
<div class="container" style="margin:auto;height:80vh">




    <div class="col-12 mt-5" style="display:flex;flex-direction:column;align-items:center;justify-content:center">
         <div class="row my-3 ">


                <p >Please log in.
                    or </span><a href="{% url 'create_account' %}">Register here</a></p>

</div>

        <form id="my-form" class="my-form" action="{% url 'accounts:person_login'%}" method="post">
            {% csrf_token %}


            <div class="field">
                <div class="input-container control">
                    {% if messages %}
                   
                   <p class="help is-danger">{% for message in messages %}{{ message }} {% endfor %} </p> 
                    {% endif %}
                </div>
                <div class="input-container control">

                    {{form.email }}{% for error in form.email.errors %}<p class="help is-danger">{{error}}</p> {% endfor %}
                </div>
            </div>
                <div class="field">
                    <div class="input-container control">{{ form.password }}
                    {% for error in form.password.errors %}<p class="help is-danger">{{error}}</p> {% endfor %}
                    </div>
                </div>
            <center>
                <button class="mb-5 btn-primary btn px-5" name="login" type="submit">Login</button>
            </center>
        </form>


    </div>

</div>

{% endblock %}


