{% extends 'blog/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}



{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <button onclick="cloze()" type="button" class="btn close cloze" data-dismiss="alert" aria-label="close"><span aria-hidden="true"><b>x</b></span></button>
{{ message }}
</div>
{% endfor %}

{% endif %}



<div class="container mt-5 p-0" style="height:100vh;overflow:auto;padding-bottom:100px">
 <center><form action='.' method='POST'>
    {% csrf_token %}
     <div class="col-md-6 mx-3">
    <h1>Do you want to delete the post "{{ object.title }}"?</h1>
    <button type="submit" class="btn btn-sm btn-danger ">Yes</button>
    <span><a href="{% url 'blog:detail' article.pk %}" class="btn btn-sm btn-primary">cancel</a></span>
     </div>
</form></center>


</div>

{% endblock %}