{% extends 'blog/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}


<div id="container" class="container my-5" style="max-width:90%;overflow:auto;padding-bottom:100px">




<div class="container" style="background-color: grey; height: auto; overflow: auto; min-width: 100%; min-height: 100%; display: flex; flex-direction: column; align-items: center; padding: 10%">





  <div class="container mb-4" style=" height: auto;overflow-wrap: anywhere; overflow: hidden;background-color: white; border-radius: 5px; padding: 2rem; display: flex; justify-content: space-between; align-items: flex-start; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
    {% if article.image %}
    <div class="card-image-container">
      <a href="{{ article.get_absolute_url }}" target="_blank">
        <img class="card-img-top" src="{{ article.image.url }}" alt="..." style="width: 250px; height: 350px; margin-right: 1rem;">
      </a>
    </div>
{% endif %}
    <div class="card-content-container" style="flex: 1; padding-left: 1rem;">
      <h2 class="card-title h4 mb-1">
        <a href="{{ article.get_absolute_url }}">{{ article.title.title }}</a>
      </h2>
      <p class="card-content;" style="" >{{ article.content }}</p>
      <small class="mb-1 mt-1">{{ article.created }}</small>
        <small> <a href="{% url 'blog:existingprofile' article.author.user.id  %}" target="_blank" style="text-decoration:none"> Author: {{ article.author.preferred_name }}</a></small>

       <div style="display:flex;flex-direction:horizontal;" >
        <a href="{% url 'blog:article-upvote' article.id %}" ><i class="fa-solid fa-thumbs-up" style="font-size:1.2rem" ></i></a>
            <p class="px-3">{{upvotes}}</p>
       </div>
        {% if comments %}
        <div class="mx-2">
        <P><b>Comments</b></P>
        </div>
        <ul class="list-unstyled">
        <div>
            {% for comment in comments %}
            <div class="row my-2" ><li class="my-0"><a class="my-0" href="{% url 'blog:existingprofile' article.author.user.id %}" style="text-decoration:none">
            {{ comment.author.preferred_name|title }}</a>: {{ comment }}</li>


             <span class="my-0">{% if comment.author.user == request.user %}{% csrf_token %}<a href="{% url 'blog:comment_delete' comment.id %}"  ><i style="font:0.1rem" class="fa-solid fa-trash"></i></a>{% endif %}</span>
            </div>
            {% endfor %}

        </div>
        </ul>
        {% endif %}
        <div class="row">
            <div class="col-md-4 py-4 my-4">
             <form action="{% url 'blog:comment' article.id %}" method="POST">
    {% csrf_token %}
    <div class="input-group">
        {{ form.content }}
        <div class="input-group">
            <button class="form-control btn  btn-primary" id="button-submit" type="submit">Add comment...</button>
        </div>
    </div>
</form>
        </div>
            </div>
  {% if request.user.email == article.author.user.email %}
        <div class="row pb-0">
<div style="display:flex" class="px-3 pb-0 mb-0">
    <span><a href="{% url 'blog:update' article.pk %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square"></i></a></span><span><a style="margin-left:1rem"
        href="{% url 'blog:delete' article.pk %}" class="btn btn-danger btn-sm"><i style="font:1rem;color:white" class="fa-solid fa-trash"></i></a></span>
</div>
            </div>
    </div>

    {% endif %}
  </div>


<div>

    <div class="col-md-3 my-3" style="display:flex;justify-content:space-around;align-items:center">
    <a href="{{request.META.HTTP_REFERER|escape}}" style="font-size:1.5rem" ><i class="fa-solid fa-backward"></i></a>

</div>

    </div>


</div>
  </div>
{% endblock %}
