{% extends 'blog/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container mt-5 mb-5" style="height:100vh max-height:90%;overflow:auto;padding-bottom:100px">
    <div class="col-md-8 mt-1">


        <form action="." method="POST" class="py-2 mb-3" enctype="multipart/form-data">
            {% csrf_token %}


            <p class="mb-3 px-2 ">{{ form.preffered_name }}</p>



            <label class="pb-2 mt-0 my-2 px-2" for="profilepic" >Attach image</label>
   <input  type="file" name="profilepic" accept="image/jpeg">
             <p class="mt-2">{{ form.job_title }}</p>
            <p class ="my-2 px-2" >{{ form.about }}</p>
            <p class ="my-2 px-2" >{{ form.content}}</p>
            <p  class ="my-2 px-2" >Twitter: {{form.twitter}}</p>
            <p  class ="my-2 px-2" >Linkedin: {{form.linkedin}}</p>
            <p class ="my-2 px-2 " >Instagram: {{form.instagram}}</p>


            <button class="btn btn-primary p-0 mt-0" type="submit" style="font-size:0.7em ">Update
            </button>
        </form>

    </div>
</div>
 <a href="{% url 'blog:home' %}" class="mt-1 btn btn-primary" style="font-size:0.9em">Home</a>
{% endblock %}