{% extends 'blog/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}

<div class="container" style="height:100%;width:100%;display:flex;justify-content:center;align-items:center;">
    {%if result%}


        <aside class="profile-card" style="margin:0 auto">



  <header>

    <!-- here’s the avatar -->
<img src="{{ userprofile.profilepic.url }}" alt="Profile image">

    <!-- the username -->
    <h1>{{ userprofile.preffered_name|title }}</h1>

    <!-- and role or location -->
    <h2>{{ userprofile.job_title }}</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>{{ userprofile.about }}</p>

  </div>

  <!-- some social links to show off -->
  <ul class="profile-social-links" style="display:flex;justify-content:center">

    <!-- twitter - el clásico  -->
    {% if userprofile.twitter %}
    <li>

      <a href="{{userprofile.twitter}}" target="_blank"> <i class="bi bi-twitter mt-0 px-2 mb-3"
                                                                              style="font-size:1.5rem"></i></a>

    </li>
    {% endif %}
       {% if userprofile.linkedin %}
    <li>
     <a href="{{userprofile.linkedin}}" target='_blank'><i class="bi bi-linkedin px-2 mt-0 mb-3" style="font-size:1.5rem;color:blue"></i></a></span>
    </li>
    {% endif %}
    <!-- envato – use this one to link to your marketplace profile -->
    {% if userprofile.instagram %}
    <li>
     <a href="{{userprofile.instagram}}" target='_blank'><i class="bi bi-instagram px-2 mt-0 mb-3" style="font-size:1.5rem;color:orangered"></i></a></span>
    </li>

    {% endif %}
  </ul>

    <!-- codepen - your codepen profile-->

            {% if userprofile.user.email == request.user.email %}
            <div class="container" style="display:flex;justify-content:center">
  <div class="row " >
    <div class="col-sm">
      <a href="{% url 'blog:userprofile_update' userprofile.id %}" style="text-align:center;font-size:0.6em;display:block;width:5rem;margin:auto;text-decoration:none"  class="btn-sm btn-primary">
                            Edit profile</a>
    </div>
    <div class="col-sm">
       <a href="/.."  style="text-align:center;font-size:0.6em;display:block;width:5rem;margin:auto;text-decoration:none" class="btn-sm btn-primary">Home</a>
    </div>
    <div class="col-sm">

    </div>

  </div>
</div>
               {% else %}
                        <div class="row">
                        <div class="col-6 pb-5" style="display:flex;justify-content:space-around">
                        <a href="{{request.META.HTTP_REFERER|escape}}" style="text-align:center;font-size:0.6em;display:block;width:5rem;margin:auto" class="btn btn-sm btn-primary">Back</a>
                         </div>
                        </div>
                        {% endif %}







        </aside>
    </div>


{% endif %}

    <!-- codepen - your codepen profile-->
{% endblock %}



