{% extends 'blog/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container" style="margin:auto;height:100%;margin:auto">
<div class="container m-5" style="align-items:center;margin:auto !important;height:80%;width:80%;display:flex;flex-direction:column;justify-content:center">
      <div class="mt-2 col-xm-3  col-md-6" style="margin:auto;overflow:hidden;width:60%">
    <form style="margin: 20% auto" action="." method="POST" class="py-2 mb-3" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="text-center my-2  input-container control">
        {{ form.preferred_name }}
      </div>

      <span class="form-group form-control my-2">
        <input type="file" name="profilepic" accept="image/jpeg" class="form-input">
      </span>


      <div class="text-center my-2  input-container control">
        {{ form.about }}
      </div>



      <div class="text-center my-2 input-container control">
        {{ form.linkedin}}
      </div>



      <div class="my-2">
        <div class="d-flex justify-content-between">
          <button class="form-control btn btn-primary form-submit-button px-4 my-2" type="submit" style="font-size: 0.9em;">Update</button>


        </div>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
