{% extends 'blog/index.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}

<style>
  .card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
</style>

<div class="container" style="background-color: grey; height: auto; overflow: auto; min-width: 100%; min-height: 100%; display: flex; flex-direction: column; align-items: center; padding: 10%">

  {% if articles %}

  {% for article in articles %}

  <div class="container mb-4" style=" height: auto;overflow-wrap: anywhere; overflow: hidden;background-color: white; border-radius: 5px; padding: 2rem; display: flex; justify-content: space-between; align-items: flex-start; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
    {% if article.image %}
    <div class="card-image-container">
      <a href="{{ article.get_absolute_url }}" target="_blank">
        <img class="card-img-top" src="{{ article.image.url }}" alt="..." style="width: 250px; height: 350px; margin-right: 1rem;">
      </a>
    </div>
    {% endif %}
    <div class="card-content-container" style="flex: 1; padding-left: 1rem;">
      <h2 class="card-title h4 mb-1">
        <a href="{{ article.get_absolute_url }}">{{ article.title.title }}</a>
      </h2>
      <p class="card-content;" style="" >{{ article.content }}</p>
      <small class="mb-1 mt-1">{{ article.created }}</small>
    </div>
  </div>

  {% endfor %}

  {% else %}

  <div class="mt-2 alert alert-primary alert-dismissible fade show" role="alert">
    <h3>Your audience is waiting for your content. Add your first article...</h3>
  </div>

  {% endif %}

  <div class="row mt-4">
    <a href="{% url 'blog:article-create' %}" class="btn btn-primary">Add article</a>
  </div>

</div>
{% endblock %}
