{% extends 'blog/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% static "images" as baseUrl %}
{% block content %}


<div class="container p-5" style="align-items:center;margin:auto;height:80%;width:80%;display:flex;flex-direction:column;justify-content:center">

        <div class="col-sm-8 col-xm-7 col-md-8">
<form action="." method="POST" enctype="multipart/form-data" style='margin:auto;margin-top:3rem'>
    {% csrf_token %}


    {% for error in errors %}
    <div class="help form-control  is-invalid is-danger control " >
     {{error}}
    </div>
    {% endfor %}

    <div class="p-3 form-group">
      {{ form.preferred_name }}
    </div>

    <div class="form-group">
      <div style="display:flex;align-items:center">
          <img id="profile-preview" src="#" alt="Profile Picture Preview" width="100px" height="100px" class="p-3 rounded-circle mr-3">

          <input type="file" name="profilepic" accept="image/*" onchange="previewProfilePic(this)">

      </div>
    </div>



    <div class="p-3 form-group">
      {{ form.about}}
    </div>


    <div class="p-3 form-group">

      <input type="text" class="form-control" name="linkedin" id="linkedin" placeholder="Enter LinkedIn URL">
    </div>



    <button class="btn btn-primary btn-block control form-control" type="submit">Save</button>
  </form>
   </div>

    </div>
{% endblock %}