{% extends 'blog/index.html' %}
{% block title %}Search{% if query %} Results{% endif %}{% endblock %}

{% block content %}

<div class="container" style="height:110vh;">
    <div class="col" style="display:flex;flex-direction:column;justify-content:center">


 {% if query %}
 <div class="row m-4">
 <div class="col-md-12 mt-4 pt-5" style="display:flex;justify-content:center;flex-direction:column;align-items:center">
 {% if results %}


 <h2 style="font-family: 'Angkor', cursive;">Results for "{{ query|escape }}":</h2>


 {% for article in results %}
         <ol>
     <div class="row" >
   <li><a href="{% url 'blog:detail' pk=article.id %}" style="font-family: 'Merienda', cursive">{{ article|escape }}</a></li>
</div>
 </ol>
 {% endfor %}
           {% else %}
     <div class="mt-5">
 <h4 style="font-family: 'Angkor', cursive;" >No articles found .....</h4>
     </div>
     {% endif %}
{% endif %}
<a  href="{% url 'blog:home' %}"><i style="font-size:1.5rem" class="fa-solid fa-backward"></i></a>
</div>

  </div>









     </div>
</div>
</div>
</div>






{% endblock %}